.favorites-list {
    position: absolute;
    min-width: 252px;
    height: 95%;
    z-index: 1;
    top: 10px;
    left: 10px;
    background-color: #f8f8f8;
    box-shadow: 1px 1px 10px darkgray;
    overflow-y: auto;
}

.selected {
    color: white;
    box-shadow: inset 0 0 10px #f1f1f1;
    background-color: #e9e9e9;
}

.favorite-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #b4b4b4;
    cursor: pointer;
}

.empty {
    align-content: center;
    font-size: 12px;
    color: rgba(61, 61, 61, 0.9);
    padding: 2em;
}

.details {
    text-align: left;
    padding-right: 16px;
}

.details-type {
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.7);
}

.details-name {
    font-weight: 500;
    color: #4d4c4c;
}